.container-location{
    display: flex;
    position: absolute;
    bottom: 100px;
    display: flex;
    width: 60%;
    display: flex;
    justify-content: flex-start;
    left: 120px;
}

.input-location{
    height: 35px;
    width: 300px;
    padding: 15px;
    background-color: rgba(241, 241, 241, 0.233);
    border-radius: 10px;
    border: none;
    transition: all 0.5s ease;
}

.input-location:focus{
    box-shadow: 1px 1px 8px rgb(78, 78, 78);
    outline: none;

}


.list-all-names{
    display: grid;
    position: absolute;
    width: 300px;
    top: 35px;
    left: 1%;
    border-radius: 10px;
    overflow: hidden;
}

.list-all-names button{
    margin: 0;
    padding: 5px;
    border: 0;
    color: rgb(151, 177, 155);
    background-color: rgba(44, 43, 43, 0.827);
}

.list-all-names button:hover {
    color: black;
    background-color: rgb(99, 202, 168);
}

